{% extends "base_non_index.html" %}
{% block content %}

<section id="dev-console">
  <div class="container">
    <div class="row">
    	<div class="col-sm-8 col-md-6 col-md-offset-4">
    		<h2>Your Developer Console</h2>
    		<div class="row text-muted">
    			<h4>UUID: {{uuid}}</h4>
    		</div>
    		<div class="row text-muted">
    			<h4>Company: {{company}}</h4>
    		</div>
    		<div class="row text-muted">
    			<h4>URL: {{url}}</h4>
    		</div>
    		<h2>Commands</h2>
    		<div class="row text-muted">
    		<table>
    			<tr>
    			<th>Command Name</th>
    			<th>Language</th>
    			</tr>
    			{% for command in commands %}
    			<tr>
    				<td><h4>{{command.name}}</h4></td>
    				<td><h4>{{command.language}}</h4></td>
    			</tr>
    			{% endfor %}
    		</table>

    	</div>
    </div>
</div>
</section>
{% endblock %}