{% extends "base.html" %}
{% load staticfiles %}
{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <img style="float:left" src="{% static 'img/logo.png' %}" width="50px" />
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Root Tree</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="/accounts/logout/?next=/accounts/delete_cookie/">Logout</a>
                    </li>
                    {% else %}
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#features">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#howitworks">How it works</a>
                    </li>
                    <li>
                       <a href="/accounts/login/dev/?next=/dev/">Developers</a>
                    </li>
                    <li>
                        <a href="/accounts/login/clientuser/">Users</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
        
    <!-- Header -->
{% block header %}
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">A platform that allows web developers to make web apps that can do everything a desktop app can do. </div>
                <div class="intro-heading"></div>
                <a href="#features" class="page-scroll btn btn-xl" style="margin-right:20px">Learn More</a> <span></span><a href="https://raw.githubusercontent.com/theneilc/RootTree/master/client/RootTree.py" class="page-scroll btn btn-xl"> Download</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Bringing desktop functionality to the web.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Simple</h4>
                    <p class="text-muted">Root Tree works in real time, and our easy to install software along with a simple javascript SDK, makes it easy to start using it in your web app!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Powerful</h4>
                    <p class="text-muted">Root Tree lets you run set up code, automatically sync files, and make everyday web use that much simpler on a users computer. More functions can also be requested by developers!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Secure</h4>
                    <p class="text-muted">User always has the control of their permissions, and only authenticated requests can be executed. Users can depend which features they want to activate or deactivate. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                
                            <i class="fa fa-cloud-download fa-stack-1x fa-inverse fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>User installs Root Tree</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our software allows access to the user's computer, depending on the level of permissions given by the user. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="{% static 'img/about/2.jpg' %}" alt=""> -->
                                <i class="fa fa-code fa-stack-1x fa-inverse fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Developer makes an API call</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Using our API (we also have a js SDK to get started quickly), web developers can create a request to excute a function on a user's computer. These functions are pre-approved by Root Tree and range from desktop notifications, file syncing to general installation procedures. Developers can request for additional functions if needed. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-unlock fa-stack-1x fa-inverse fa-5x"></i>                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>User authenticates the developer's app</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Upon making the request, Root Tree sdk asks the user to authenticate the developer to allow execution of the asked functions</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <i class="fa fa-thumbs-up fa-stack-1x fa-inverse fa-5x"></i>

                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Root Tree client executes</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Root Tree software on the user's computer will execute the commands asked by the developer and return the necessary results back. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Web just got more interactive!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Root Tree 2014</span>
                </div>


            </div>
        </div>
    </footer>

{% endblock %}

    